﻿@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <title>Construvision</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="~/Content/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="~/Content/jquery-jvectormap-2.0.2.css" />
    <link rel="stylesheet" href="~/Content/alertify.min.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/animate.min.css">
    <link rel="stylesheet" href="~/Content/main.css">
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/sesiones">Construvisión</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">                
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/login">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div id='app-container'>
        </div>
        <div id="modal" class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                        <h4 class="modal-title">Construvisión</h4>
                    </div>
                    <div class="modal-body">
                        <div id="modal-bubble">
                            Cargando...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/underscore.min.js"></script>
    <script src="~/Scripts/underscore.string.min.js"></script>    
    <script src="~/Scripts/big.min.js"></script>
    <script src="~/Scripts/alertify.min.js"></script>
    <script src="~/Scripts/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/Scripts/sammy-0.7.5.min.js"></script>

    <script src="~/Scripts/app/app.js"></script>
    <script src="~/Scripts/app/main.js"></script>

    <script src="~/Scripts/app/models.js"></script>
    <script src="~/Scripts/app/lots.js"></script>
    <script src="~/Scripts/app/zones.js"></script>
    <script src="~/Scripts/app/packages.js"></script>
    <script src="~/Scripts/app/settlements.js"></script>
    <script src="~/Scripts/app/users.js"></script>
    <script src="~/Scripts/app/blocks.js"></script>
    <script src="~/Scripts/app/streets.js"></script>    
    <script>

        window.baseUrl = '@ViewBag.BaseUrl';

        $(function () {
            app.start();
        });
    </script>
</body>
</html>