﻿<!DOCTYPE html>
<html>
<head>
    <style type='text/css'>
        @font-face {
            font-family: 'Oswald';
            font-style: normal;
            font-weight: 400;
            src: local('Oswald Regular'), local('Oswald-Regular'), url('http://fonts.gstatic.com/s/oswald/v10/Y_TKV6o8WovbUd3m_X9aAA.ttf') format('truetype');
        }

        @font-face {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            src: local('Raleway'), url('http://fonts.gstatic.com/s/raleway/v9/bIcY3_3JNqUVRAQQRNVteQ.ttf') format('truetype');
        }
    </style>
</head>
<body style="text-align: justify">
    <div bgcolor='#FFFFFF' topmargin='0' leftmargin='0' marginheight='0' marginwidth='0' style='-webkit-text-size-adjust: none;  -ms-text-size-adjust: none;  -moz-text-size-adjust: none; text-size-adjust: none; width: 100% !important; height: 100%; margin: 0; padding: 0;'>
        <table style='width: 100%; margin: 0; padding: 0 30px;'>
            <tr style='margin: 0; padding: 0;'>
                <td style='margin: 0; padding: 0;'></td>
                <td style='display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto; padding: 0;'>
                    <div style='max-width: 600px; display: block; margin: 0 auto; padding: 5px;'>
                        <table style='width: 100%; margin: 0; padding: 0;'>
                            <tr style='margin: 0; padding: 0;'>
                                <td align='center' style='margin: 0; padding: 0;'>
                                    <img src='{{ImageFolder}}{{Logo}}' style='max-height: 120px; max-width: 100%; margin: 0; padding: 0;' />
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td style='margin: 0; padding: 0;'></td>
            </tr>
        </table>
        <br>
        <div style="max-width: 600px; display: block; margin: 0 auto; padding: 5px;">
            {Template}
        </div>
        <br>
        <p align='center' style='font-weight: normal; font-size: 14px; line-height: 1.6; font-family: raleway, Helvetica, Arial; margin: 0; padding: 0;'>
            Atentamente,
            <br style='margin: 0; padding: 0;' />
            Equipo de {{BusinessName}}.
        </p>
        <br style='margin: 0; padding: 0;' />
        <div align='center' style='max-width: 600px; display: block; margin: 0 auto; padding: 5px;'>
            <table style='width: 100%; margin: 0; padding: 0;'>
                <tr style='margin: 0; padding: 0;'>
                    <td align='center' style='margin: 0; padding: 0;'>
                        <p style='display: {{HiddenBanner}} !important; font-weight: normal; font-size: 14px; line-height: 1.6; font-family: raleway, Helvetica, Arial; margin: 0; padding: 0;'>
                            <img src='{{ImageFolder}}{{Banner}}' style='max-width: 300px; margin: 0; padding: 0;' />
                        </p>
                        <p align="center" style="font-size: 14px; line-height: 1.6; font-family: 'Raleway', 'Helvetica', 'Arial'; margin: 12px 0 0px; padding: 0;">
                            <a href="{{BusinessAndroidLink}}" style="text-decoration: none; color: #2BA6CB; margin: 0; padding: 0;">
                                <img style="max-height: 45px; max-width: 150px; margin: 0 20px 0 0; padding: 0;" src="{{ImageFolder}}play-store.png" />
                            </a>
                            <a href="{{BusinessiOSLink}}" style="text-decoration: none; color: #2BA6CB; margin: 0; padding: 0;">
                                <img style="max-height: 50px; max-width: 150px; margin: 0; padding: 0;" src="{{ImageFolder}}app-store.png" />
                            </a>
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <br style='margin: 0; padding: 0;' />
    </div>
</body>
</html>