﻿<h5 align="center" style="font-weight: 500; font-size: 23px; font-family: 'Oswald', sans-serif; color: #071C2D; margin: 0; padding: 0;">
</h5>
<p style="text-align:center">
    Se ha generado un reporte de avances en excel con la informacion del periodo {StartDate} - {EndDate} el cual contiene el avanze de todos los lotes de Construvision. 
    <br /> 
    Para descargar el reporte de click en el siguiente boton: 
</p>
<br />
<p style="text-align:center">
    <a href="{{BaseUrl}}/content/files/exports/{FileName}" style="text-decoration: none; width: 50%; display: inline-block; font-size: 14px; font-weight: normal; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; border-radius: 4px; color: #fff; background: {{BusinessColor}} none; margin: 0; padding: 6px 12px; border: 1px solid #2e6da4;">
        Descargar reporte de avances
    </a>
</p>