﻿<h4 align="center" style="font-weight: 400; font-size: 18px; font-family: 'Oswald', sans-serif; color: #071C2D; margin: 0; padding: 0;">
    <!--<strong style="margin: 0; padding: 0;">
        Hola {{ResidentName}}
    </strong>-->
</h4>
<p style="text-align:center">Se ha generado un nuevo reporte de su residencia ubicada en la dirección <strong>{{Address}}</strong>. Lo invitamos a ver el avanze de construcción en el siguiente enlace:</p><br />

<p style="text-align:center">
    <a href="{{BaseUrl}}/api/report-viewer/{{ResidentReportCode}}" style="text-decoration:none; width: 50%; display: inline-block; font-size: 14px; font-weight: normal; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; border-radius: 4px; color: #fff; background: #337ab7 none; margin: 0; padding: 6px 12px; border: 1px solid #2e6da4;">
        Ver reporte
    </a>
</p>
