﻿<h4 align="center" style="font-weight: 500; font-size: 23px; font-family: 'Oswald', sans-serif; color: #008ca3; margin: 0; padding: 0;">
    <strong style="margin: 0; padding: 0;">
        {ResidentName} tu residencia con dirección {Address}, en el Residencial {SettlementName}.

        De parte del equipo de Construvision te invitamos a conocer nuestra aplicacion movil en la cual podras observar el progreso de construcción de tu residencia. Podras ver fotos recientes de tu casa y cualquier informacion relevante a ella.
        Puedes descargar la aplicacion en PlayStore en Android y en AppStore para iOs.

        Al descargar la aplicacion puede iniciar sesion con los siguientes datos:
        <br />
    </strong>
    <div class="well">
        <p><strong>{ResidentEmail}</strong></p>
        <p><strong>{Password}</strong></p>
    </div>
    <br />
</h4>