﻿<div class="row">
    <div class="col-xs-12 well" style="text-align:center; margin-bottom:0px; background:#d4d4d4" >
        <h1>{{Name}}</h1>
    </div>
    <div class="col-xs-12 well" style="text-align:center; color:#34bb0c">
        <h1>Construcción Terminada</h1>
    </div>
</div>

    