﻿    <!--<div class="col-xs-6">-->
<br />
<br />
        <div class="col-xs-12" style="text-align:center; padding-bottom:10px">
            <h4>Paquetes {{Name}}</h4>
        </div>
        
        <!--<div class="col-xs-6">
            <h5>Total: {{Percentage}}%</h5>
        </div>
        <div class="col-xs-6">
               <h5>Avance: {{Advance}}%</h5>
        </div>-->
        <div class="col-xs-10 col-xs-offset-1">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Paquete</td>
                        <td>Total</td>
                        <td>Avance</td>
                    </tr>
                </thead>
                {{Packages}}
                <tr style="font-size:50px !important; font-weight:bold">
                    <td style="font-size:15px">Total</td>
                    <td style="font-size:15px">{{Percentage}}%</td>
                    <td style="font-size:15px">{{Advance}}%</td>
                </tr>
            </table>
        </div>
        
    <!--</div>-->