﻿<!DOCTYPE html>
<html>
<head>
    <title>Construvision</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Reporte de Residencia - Construvision</title>
    <link rel="stylesheet" href="{{BaseUrl}}/content/bootstrap.css" media="all" />
    <link rel="stylesheet" href="{{BaseUrl}}/content/report.css" media="all" />
    <link rel="stylesheet" href="{{BaseUrl}}/content/blueimp-gallery.min.css" media="all" />
</head>
<body>
    <div class="wrapper">

        <div class="row" style="margin-bottom:0px; margin-top:0px">
            <div class="col-xs-7">
                <img src="{{BaseUrl}}/Content/images/logo-efecto.png" title="Construvision" style="position:relative; width:35%">
            </div>
            <div class="col-xs-5" style="margin-top:40px">
                <font class="paid" style="color:#071C2D">Reporte administrativo</font><br>
            </div>
        </div>
        <div class="row">

            <div class="col-xs-6" style="border-right:1px solid">
                <h4 class="heading">Reporte</h4>

                <p style="margin:0">Folio <strong>{{Folio}}</strong></p>
                <p style="margin:0">Encargado: {{Creator}}</p>
                <p style="margin:0">Lote #{{LotNumber}}, Manzana {{BlockName}}</p>
                <p style="margin:0; margin-top:5px">Dirección: {{Address}}</p>
                <p style="margin:0">{{ZoneName}}</p>
                <p style="margin:0">{{Now}}</p>
            </div>
            <div class="col-xs-6">
                <h4 class="heading">Residencial</h4>
                <p style="margin:0; margin-top:5px">Construvision SA. de CV.</p>
                <p style="margin:0">Desarrollamos comunidades felices</p>
                <p style="margin:0">RFC:  CON810620LV3</p>
                <p style="margin:0"><a href="mailto:contacto@construvision.com">contacto@construvision.com</a></p>
                <p style="margin:0">Teléfono: (662)2187416</p>
            </div>
        </div>
        <div class="row" style="margin-top:0px; margin-bottom:0px">
            <div class="col-xs-12 well" style="text-align:center; font-size:14px"><b>Construcción Total: {{CurrentPercentage}}%</b></div>
        </div>

        <table class="col-xs-6 col-lg-6 col-md-6 col-sm-6 table table-bordered" style="margin-top:5px">
            <tbody>
                {{Concepts}}
            </tbody>
        </table>

        <br />
        <br />

        <div class="row" style="margin:0px">
            <p><h5><b>Fachada e imagenes de reporte:</b></h5></p>
            <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
                <div class="slides"></div>
                <h3 class="title"></h3>
                <p class="description"></p>
                <a class="prev">‹</a>
                <a class="next">›</a>
                <a class="close">×</a>
                <a class="play-pause"></a>
                <ol class="indicator"></ol>
            </div>
            <div class="gallery" id="links">
                {{ConceptImages}}
            </div>
        </div>


        <span class="notes">La fotografías puede no representar con certeza la construcción actual de la residencia.</span>
    </div>
    <script src="{{BaseUrl}}/Scripts/jquery.js"></script>
    <script src="{{BaseUrl}}/Scripts/jquery.blueimp-gallery.min.js"></script>
    <script>
    </script>
</body>
</html>
