﻿<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Reporte de Residencia - Construvision</title>
    <link rel="stylesheet" href="{{BaseUrl}}/content/bootstrap.css" media="all" />
    <link rel="stylesheet" href="{{BaseUrl}}/content/report.css" media="all" />
</head>
<body>
    <div class="wrapper">

        <div class="row" style="margin-bottom:0px; margin-top:0px">
            <div class="col-xs-7">
                <img src="{{BaseUrl}}/Content/images/logo-efecto.png" title="Construvision" style="position:relative; width:30%">
            </div>
            <div class="col-xs-5" style="margin-top:40px">
                <font class="paid" style="color:#071C2D">Reporte al {{Day-Month}}</font><br>
            </div>
        </div>
        <div class="row">

            <div class="col-xs-6" style="border-right:1px solid">
                <h4 class="heading">Residente</h4>

                    <p style="margin:0; margin-top:5px">{{ResidentName}}</p>
                    <p style="margin:0">Telefono {{ResidentPhone}}</p>
                    <p style="margin:0">Direccion {{Address}}</p>
                    <p style="margin:0">Fecha {{Now}}</p>
            </div>
            <div class="col-xs-6">
                <h4 class="heading">Residencial</h4>
                    <p style="margin:0; margin-top:5px">Construvision SA. de CV.</p>
                    <p style="margin:0">Desarrollamos comunidades felices</p>
                    <p style="margin:0">RFC:  CON810620LV3</p>
                    <p style="margin:0"><a href="mailto:contacto@construvision.com">contacto@construvision.com</a></p>
                    <p style="margin:0">Teléfono: (662)2187416</p>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 well" style="text-align:center; font-size:14px">Construcción Total: <b>{{CurrentPercentage}}%</b></div>
        </div>

        <div class="row">
            <img src="{{BaseUrl}}/Content/images/uploads/{{FrontImageCode}}" style="max-height: 435px" class="img-thumbnail"/>
            <br />
            <span >Fachada de su residencia a la fecha actual.</span><br>
        </div>


        <h5 style="font-style: normal"><strong>Nota:</strong></h5>
        <span class="notes">La fotografía puede no representar con certeza la construcción actual de su residencia.</span>
    </div>
    <script></script>
</body>
</html>
