﻿<!DOCTYPE html>
<html>
<head>
    <title>Construvision</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Reporte de Residencial - Construvision</title>
    <link rel="stylesheet" href="{{BaseUrl}}/content/bootstrap.css" media="all" />
    <link rel="stylesheet" href="{{BaseUrl}}/content/report.css" media="all" />
    <link rel="stylesheet" href="{{BaseUrl}}/content/blueimp-gallery.min.css" media="all" />
</head>
<body style="background-color:#ffffff" class="col-xs-10 col-xs-offset-1">
    <!--<div class="wrapper">-->

        <div class="row" style="margin-bottom:0px; margin-top:0px">
            <div class="col-xs-7">
                <img src="{{BaseUrl}}/Content/images/logo-efecto.png" title="Construvision" style="position:relative; width:30%">
            </div>
            <div class="col-xs-5" style="margin-top:80px">
                <font class="paid" style="color:#071C2D">Reporte administrativo</font><br>
            </div>
        </div>
        <div class="row">

            <div class="col-xs-6" style="border-right:1px solid">
                <h4 class="heading">Reporte de periodo.</h4>

                <p style="margin:0">{{StartDate}} al {{EndDate}}</p>
            </div>
            <div class="col-xs-6">
                <h4 class="heading">Residencial</h4>
                <p style="margin:0; margin-top:5px">Construvision SA. de CV.</p>
                <p style="margin:0">Desarrollamos comunidades felices</p>
                <p style="margin:0">RFC:  CON810620LV3</p>
                <p style="margin:0"><a href="mailto:contacto@construvision.com">contacto@construvision.com</a></p>
                <p style="margin:0">Teléfono: (662)2187416</p>
            </div>
        </div>
        <div class="row well" style="margin-top:0px; margin-bottom:0px">
            <div class="col-xs-6 " style="text-align:center; font-size:20px"><b>Construcción Total: {{Percentage}}%</b></div>
            <div class="col-xs-6 " style="text-align:center; font-size:20px"><b>Avance en periodo: {{Advance}}%</b></div>
        </div>

        <div class="row">
            {{Zones}}
        </div>

        <br />
        <br />


    <!--</div>-->
    <script src="{{BaseUrl}}/Scripts/jquery.js"></script>
    <script src="{{BaseUrl}}/Scripts/jquery.blueimp-gallery.min.js"></script>
    <script>
    </script>
</body>
</html>
