﻿<br />
<br />
<div class="row" >

    <div class="col-xs-12 well" style="text-align:center; margin-bottom:0px; background:#d4d4d4">
        <h1>{{Name}}</h1>
    </div>
     <div class="col-xs-12 well">
         <div class="col-xs-6" style="text-align:center">
             <h3> Total {{Percentage}}%</h3>
         </div>

         <div class="col-xs-6" style="text-align:center">
             <h3>Avance: {{Advance}}%</h3>
         </div>
         <br />
         <br />
         <div class="row">
             {{Institutions}}
         </div>
     </div>
    
</div>
<br />
<br />

    