﻿ul { padding: 0; }
.field-validation-error { color: #ff0000; }
.field-validation-valid { display: none; }
.input-validation-error { border: 1px solid #ff0000; background-color: #ffeeee; }
.validation-summary-errors { font-weight: bold; color: #ff0000; }
.validation-summary-errors ul { list-style-type: none; }
.validation-summary-valid { display: none; }
.form-error { float: right; font-size: 10px; letter-spacing: 1px; margin-top: 1px; }
.clear { clear: both; }
.hand-cursor { cursor: pointer; }

.session-menu { border-top: 1px solid #346c9b; }
.session-menu div { text-align: center;  height: 37px; line-height: 37px; }
.session-menu span { color: #fff; font-weight: bold; }

td > .div-xs {
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-first thead th {
    background-color: #285e8e;
    border-color: #285e8e;
    color: #fff;
    font-size: 14px;
}

.table-first tbody td {    
    font-size: 16px;
}
.big-icon {
    color: #ddd;
    font-size: 150px;
}
.big-text {
    color: #ddd;
    font-size: 25px;
    font-weight: bold;
}

.no-resize {
    resize: none;
}