h4{ 
    margin: 0px;
     padding: 0px;
}
h5{
    margin: 10px 0 0 0;
    padding: 0px;
}
ul.unstyled{
    margin: 8px 0 0 0;
     padding: 0px 0 0 25px; 
     list-style: none; 
 } 
 a{ 
     font-size: 11px; 
     padding: 0px; 
 } 
 .container_8 { 
     display: block; 
     float: left; 
     width: 100%; 
 } 
 .column_8 { 
     width: 35%; 
     border-top: 1px solid #aaa; 
 } 
 .column_7{ 
     width: 35%; 
 } 
 .column_6{ 
     width: 10%; 
 } 
 .column_f{ 
     display: block; 
     float: left; 
     text-align: center; 
 } 
 .container_f { 
     margin: 0px 0 35px 0; 
 } 
 .notes{ 
     font-size:8px; 
 } 
 #ticket-table3 { 
         margin-top: 10px; 
     } 
body {
    margin: 15px; 
    padding: 0; 
    background-color: #efefef; 
} 

body,td,input,select { 
    font-family: Arial,Tahoma; 
    font-size: 11px; 
    color: #000000; 
} 

form { 
    margin: 0px; 
} 

a { 
    color: #1E598A; 
} 

a:hover { 
    text-decoration: none; 
} 

.textcenter { 
    text-align: center; 
} 

.textright { 
    text-align: right; 
} 

.wrapper { 
     height: 801px; 
    margin: 0 auto; 
    padding: 10px 20px 70px 20px; 
    width: 600px; 
    background-color: #fff; 
    border: 1px solid #ccc; 
    -moz-border-radius: 6px; 
    -webkit-border-radius: 6px; 
    -o-border-radius: 6px; 
    border-radius: 6px; 
} 

.header { 
    margin: 0 0 0px 0; 
    width: 100%; 
} 

.addressbox { 
    height: 100px; 
    padding: 10px; 
    background-color: #fff; 
    border: 1px solid #ccc; 
    color: #000; 
    overflow: auto; 
} 

table.items { 
    width: 100%; 
    background-color: #ccc; 
    border-spacing: 0; 
    border-collapse: separate; 
    border-left: 1px solid #ccc; 
} 

table.items tr.title td { 
    margin: 0; 
    padding: 2px 5px; 
    line-height: 16px; 
    background-color: #efefef; 
    border: 1px solid #ccc; 
    border-bottom: 0; 
    border-left: 0; 
    font-size: 12px; 
    font-weight: bold; 
} 

table.items td { 
    margin: 0; 
    padding: 2px; 
    line-height: 15px; 
    background-color: #fff; 
    border: 1px solid #ccc; 
    border-bottom: 0; 
    border-left: 0; 
} 

table.items tr:last-child td { 
    border-bottom: 1px solid #ccc; 
} 

.row { 
    margin: 15px 0; 
} 

.title { 
    font-size: 16px; 
    font-weight: bold; 
} 

.subtitle { 
    font-size: 13px; 
    font-weight: bold; 
} 

.unpaid { 
    font-size: 16px; 
    color: #cc0000; 
    font-weight: bold; 
} 

.paid { 
    font-size: 16px; 
    color: #779500; 
    font-weight: bold; 
} 

.refunded { 
    font-size: 16px; 
    color: #224488; 
    font-weight: bold; 
} 

.cancelled { 
    font-size: 16px; 
    color: #cccccc; 
    font-weight: bold; 
} 

.collections { 
    font-size: 16px; 
    color: #ffcc00; 
    font-weight: bold; 
} 

.creditbox { 
    margin: 0 auto 15px auto; 
    padding: 10px; 
    border: 1px dashed #cc0000; 
    font-weight: bold; 
    background-color: #FBEEEB; 
    text-align: center; 
    width: 95%; 
    color: #cc0000; 
}

.blueimp-gallery > .description {
  position: absolute;
  top: 30px;
  left: 15px;
  color: #fff;
  display: none;
}
.blueimp-gallery-controls > .description {
  display: block;
}